@font-face {
  font-family: 'Open Sauce One';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(../../node_modules/@fontsource/open-sauce-one/files/open-sauce-one-latin-400-normal.woff2) format('woff2'),
       url(../../node_modules/@fontsource/open-sauce-one/files/open-sauce-one-latin-400-normal.woff) format('woff');
}

@font-face {
  font-family: 'Open Sauce One';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(../../node_modules/@fontsource/open-sauce-one/files/open-sauce-one-latin-400-italic.woff2) format('woff2'),
  url(../../node_modules/@fontsource/open-sauce-one/files/open-sauce-one-latin-400-italic.woff) format('woff');
}

@font-face {
  font-family: 'Open Sauce One';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(../../node_modules/@fontsource/open-sauce-one/files/open-sauce-one-latin-600-normal.woff2) format('woff2'),
       url(../../node_modules/@fontsource/open-sauce-one/files/open-sauce-one-latin-600-normal.woff) format('woff');
}

@font-face {
  font-family: 'Open Sauce One';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: url(../../node_modules/@fontsource/open-sauce-one/files/open-sauce-one-latin-600-italic.woff2) format('woff2'),
  url(../../node_modules/@fontsource/open-sauce-one/files/open-sauce-one-latin-600-italic.woff) format('woff');
}
